
body {
 background-color: antiquewhite;
}
.inline-block{
  vertical-align: top;
  display: inline-block;
}

.logo {
  width: 23%;
  padding: 1%;
  text-align:center;
}

nav {
  width: 60%;
  padding: 1%;
  text-align: right;
}

.nav_item {
  width: 50%;
  margin-left:auto;
  
}

.herocontent{
  display: inline-block;
  width: 40%;

}

.footer-nav {
  width: 100%;
}

.myskill {
  display: flex;
  flex-direction: row;
  padding: 3% 3% 5% 3%;
}

.skill{
display: flex;
flex-direction:column;
}
* {
  box-sizing: border-box;
  margin: 0 0 0 0;
  padding: 0 0 0 0;
}


.container {  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  gap: 0px 0px;
  grid-auto-flow: row;
}


.mockup1 { grid-area: 1 / 1 / 2 / 2; }

.mockup2 { grid-area: 2 / 1 / 3 / 2; }

.cs_details1 { grid-area: 1 / 2 / 2 / 3; }

.cs_details2 { grid-area: 2 / 2 / 3 / 3; }

html {
  scroll-behavior: smooth;
}

